<.page_template current_page={:map_demo} flash={@flash}>
  <:title><%= @page_title %></:title>
  <:description>
    <%= @page_description %>
  </:description>
  <:content>
    <%= @page_content %>
  </:content>
</.page_template>