<.page_template
  current_page={String.to_atom(@page_slug)}
  class="max-w-6xl"
>
  <:title><%= @page_title %></:title>
  <:description><%= @page_description || "" %></:description>
  <:content>
    <%= @page_content %>
  </:content>
</.page_template>